body {
    margin: 0px;
    background: black;
    color: white;
}

ul {
    margin-top: 0;
    padding: 8px;
    display: flex;
    justify-content: center;
    gap: 100px;
    list-style-type: none;
    align-items: center;
}

ul h2 {
    color: orange;
    margin-right: 50px;
}

.logo {
    margin-top: 0px;
}

li a {
    color: white;
    text-decoration: none;
    font-size: 20px;

}

li a:hover {
    color: orange;
}

header {
    display: flex;
    gap: 100px;
    text-align: center;
    align-items: center;
}

header img {
    margin-top: 50px;
    margin-left: 100px;
}

header div {
    font-family: "Rubik", sans-serif;
}


div button {
    background-color: orange;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 50px;
    border: solid 3px black;
}

div button:hover {
    background-color: #e66e0c;
    transform: scale(1.05);
}

button h2 a {
    text-decoration: none;
    color: white;
}
