body {
    margin: 0px;
    width: auto;
    background: black;
    color: white;
}

nav {
    width: 100%;
    position: fixed;
    background-color: black;
    border-bottom: 0.1rem solid white;
}

.logo h3 a {
    color: orange;
    text-decoration: none;
}

.navlinks {
    display: none;
    flex-direction: column;
}

.navlinks.active {
    display: block;
}

.hamburger {
    display: block;
    position: fixed;
    right: 40px;
    /* resetar os estilos padrões do botão */
    background: transparent;
    border: none;
    padding: 0px;
    margin: 0px;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background: white;
    margin: 5px 0;
}

header {
    display: block;
    padding: 50px;
    padding-top: 125px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-bottom: 0.1rem solid white;
}

header img {
    height: auto;
    width: 100%;
}

header div {
    font-family: "Rubik", sans-serif;
}

div button {
    background-color: orange;
    padding: 10px;
    border-radius: 50px;
    border: solid 3px black;
}

div button:hover {
    background-color: #e66e0c;
    transform: scale(1.05);
}

button h2 a {
    text-decoration: none;
    color: white;
}


@media (min-width: 768px) {
* {
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    position: fixed;
    background-color: black;
    border-bottom: 0.1rem solid white;
}

.hamburger {
    display: none; /* O menu fica escondido quando for para desktop */
}

.navbar {
    margin: 10px 40px;
    display: flex;
    justify-content: space-between;
}

.navlinks {
    display: flex;
    flex-direction: row;
    gap: 100px;
    list-style-type: none;
    align-items: center;
}

li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

li a:hover {
    color: orange;
}

/*Corpo da página*/
header {
    display: flex;
    padding: 50px;
    padding-top: 130px;
    gap: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-bottom: 0.1rem solid white;
}

header img {
    height: auto;
    width: 50%;
}

.principalText h4 {
    padding: 21px;
}

div button {
    background-color: orange;
    padding: 20px;
    border-radius: 50px;
    border: solid 3px black;
}
}
