body {
    margin: 0px;
    background: black;
    color: white;
}

nav {
    width: 100%;
    position: fixed;
    background-color: black;
}

.navbar {
    display: none;
    flex-direction: column;
}

.navbar.active {
    display: block;
}

.hamburger {
    display: block;
    position: fixed;
    right: 12px;
    /* resetar os estilos padrões do botão */
    background: transparent;
    border: none;
    padding: 0px;
    margin: 0px;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background: white;
    margin: 5px 0;
}

header {
    display: block;
    padding: 5px;
    padding-top: 125px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-bottom: 0.1rem solid white;
}

header img {
    height: 150px;
    width: 280px;
}


@media (min-width: 768px) {

nav {
    width: 100%;
    position: fixed;
    background-color: black;
    border-bottom: 0.1rem solid white;
}

.hamburger {
    display: none; // O menu fica escondido quando for para desktop
}

ul {
    display: flex;
    margin: 0px;
    margin-left: 100px;
}

.logo h2 {
    color: orange;
    margin-right: 250px;
}

.navbar {
    display: flex;
    gap: 100px;
    list-style-type: none;
    align-items: center;
}

li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

li a:hover {
    color: orange;
}

header {
    display: flex;
    padding: 110px;
    padding-top: 225px;
    gap: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-bottom: 0.1rem solid white;
}

header div {
    font-family: "Rubik", sans-serif;
}

div button {
    background-color: orange;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 50px;
    border: solid 3px black;
}

div button:hover {
    background-color: #e66e0c;
    transform: scale(1.05);
}

button h2 a {
    text-decoration: none;
    color: white;
}

}
